@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,700;0,900;1,300&family=Syne:wght@400;600&display=swap');

/* Reset */
* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }


  /* Header */
  header{
    /* background: grey; */
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    padding:0 20px;
    position: fixed;
    width: 100%;
    background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DDEFBB, #FFEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
   
  }


  .navbar, .navbar-list{
    display: flex;
    align-items: center; 
    justify-content: center;
  }

  .navbar{
    gap: 5rem;
    /* background-color: red; */
    padding: 10px;
    
  }

  .navbar-list{
    gap: 5rem;
    font-weight: 10px;
  }

  .navbar-list a {
    color:black
  }

  .navbar-list a:hover {
    color: darkgoldenrod;
  }

  .logo{
    display: flex;
    padding: 1px;
    margin: 1rem 1rem;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 70px;
  }

  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #FFEEEE;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DDEFBB, #FFEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  #hero {
    display: flex;
    max-width: 1200px;
    margin-top: 65px;
    margin: 70px 0;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 65px;
    max-height: 700px;


  }

  .hero-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 50%;

  }

  .hero-info a:hover{
    color:black
  }
  
  .hero-info h1 {
    font-size: 48px;
    font-weight: 1000;
    width: 400px;
    min-width: 400px;
    height: 120px;
    /* background-color: brown; */
  }

.botones{
  display:flex;
  gap: 20px;
}

  .hero-info p {
    font-size: 20px;
    width: 500px;
    height: 130px;
    /* background-color: blue; */
  }

  .hero-info a{
    color: white;
    background: darkgoldenrod;
    padding: 8px 12px;
    border-radius: 10px;
    font-weight: 500;
  }
  /* .hero-card{
    height: 5px;
    width: 5px; */
  

  img{
    height: 350px;
    width: 600px;
    border-radius: 10px;
  }